
@import "../../css/mixinsandfunctions.scss";
// @import "./variables.scss";

* {
  @include reset;
}
* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  // color: white;
}

// body {
#root {
  display: grid;
  grid-template-areas: " header " "main " "footer ";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  // row-gap: 20px;
  text-align: justify;
  margin: 0;
  padding: 0;

  @include media(desktop) {
    // body {
    grid-template-areas:
      " . header ."
      "  . main .  "
      "footer footer footer ";
    grid-template-columns: auto 1240px auto;
    padding: 0;
  }
}


#root > header {
  grid-area: header;
}
#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}



.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  place-self: center;
  box-shadow: 3px 3px 7px 2px #4054b2;
  // width: 100%;
  height: 300px;
  border-radius: 10px;
}
@include media(tablet) {
  .box-image {
    // height: 500px;
    width:auto;
  }
}

// img{
//   width:100%;
//   height: 100%;
// }

h2{
    font-size:30px;
    // color: red;
    // margin-top: 400px;
}

// .logo-1{
//   // height: 123px;
//   // essai
//   // width: 90px;
//   // padding: 2px;
// margin-bottom: 6px;
// height: 100%;
//   // fin essai
//   // margin-top:7px;
//   // border-right:2px solid black;
// }
// .logo-not{
//   // height:80px;
//   // essai 
//   // width:80px;
//   // width: 90px;
//   // padding:2px;
//   padding:9px;
//   // padding-right:10p
//   // // fin essai
//   // // height:100%;
//   // padding-top:10px;
// }
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  z-index: 200;
  // border: 2px solid black;
  box-shadow: 4px 3px 5px black
}

.home-container{
  display: grid;
  // grid-template-columns: 1fr;
  // text-shadow: 1px 1px 5px black;
  font-weight: bold;
 

  grid-template-columns: 1fr;
  @include media(tablet) {
    grid-template-columns: 1fr;}
  padding: 5px;
  justify-items: center;
  gap:30px;

@include media(desktop) {
  align-items: center;
// justify-content: center;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  grid-template-areas: "carte carte"
  "carousel contact";

  
}
}
.carousel-container{

  align-self: center;

 

  @include media(desktop) {
  align-self: center;
  // border-radius: 10px;
  // padding: 20px;
  grid-area: carousel;
}
}

.carte {
  grid-area:carte;
  align-self: center;
  width:100%;
  height: 100%;
  height:200px;
  // border-radius: 10px;
  // width: fit-content;
  box-shadow: 4px 3px 5px black;
  @include media(tablet) {
    height:275px;
  }

  @include media(desktop) {
  // border-radius:25px;
  height:350px;
}
}




// .home-container{
#root >main{
  // text-shadow: 1px 1px 5px black;
  width: 100%;
  height: 100%;
  background-color:#C7E6F4;

box-shadow: 4px 3px 5px black;

background-size: cover;
background-position: center;
@include media(desktop) {
  // border-radius:25px;
border-top-right-radius: 10px;

}
}
.home-container >img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.presentation-title{
  font-size:50px;
  // color:black;
  // color: white;
  // color: #164F9D;
  // color: #131f53;
  margin:0;
}
.presentation-list{
  // list-style-type: disc;
  padding: 10px;
}
.presentation-list > li{
padding: 10px 0px;

}


#root >main{
  padding: 20px  15px;
  display: grid;
  row-gap:20px;
  // color: yellow;
  // color: black;
}


#main >p{
  color:black;
 
}

.google-map{
  @include media(desktop) {
  grid-column: 1 / 3;
}
}


#root >main >h1{
  font-size:30px;
  font-weight: bold;
  // padding-bottom:40px;
  text-align: center;
}
#root > main >p{
  font-weight: bold;
}

img{
}
