
@import "../../css/mixinsandfunctions.scss";
// @import "./variables.scss";

* {
  @include reset;
}
* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  // color: white;
}

 
#root {
  display: grid;
  grid-template-areas: " header " "main " "footer ";
;
  grid-template-rows: 160px 1fr auto;
  height: 100vh;
  text-align: justify;
  
  margin: 0;
  // @include media(desktop) {
@media (min-width: 1240px) {


    // body {
    grid-template-areas:
      " . header  . "
      "  . main .  "
      "footer footer footer ";
    // grid-template-columns: auto 1240px auto;
  // grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1240px 1fr;
  max-width: 100vw;
height: 100vh;


    padding: 0;
  
  @include media(desktop) {
    // height: 100vh;
  }
}
}

#root > header {
  grid-area: header;
}
#root > main {
  grid-area: main;
  padding:20px 6px;
  @include media (tablet){
  padding:20px 2px;
  }
  
}

#root > footer {
  grid-area: footer;
}



h2{
    font-size:30px;
    // color: red;
    // margin-top: 400px;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  z-index: 200;
  // border: 2px solid black;
  box-shadow: 4px 3px 5px black
}

.home-container{
  display: grid;
  // grid-template-columns: 1fr;
  // text-shadow: 1px 1px 5px black;
  font-weight: bold;
 

  grid-template-columns: 1fr;
  @include media(tablet) {
    grid-template-columns: 1fr;}
  padding: 5px;
  justify-items: center;
  gap:30px;

@include media(desktop) {
  align-items: center;
// justify-content: center;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  grid-template-areas: "carte carousel"
  "contact contact";

  
}
}
.carousel-container{

  align-self: center;

 

  @include media(desktop) {
  align-self: center;
  // border-radius: 10px;
  // padding: 20px;
  grid-area: carousel;
}
}






// .home-container{
#root >main{
  // text-shadow: 1px 1px 5px black;
  width: 100%;
  height: 100%;
  background-color:#C7E6F4;

box-shadow: 4px 3px 5px black;

background-size: cover;
background-position: center;
@include media(desktop) {
  // border-radius:25px;
border-top-right-radius: 10px;

}
}
.home-container >img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.presentation-title{
  font-size:50px;
  // color:black;
  // color: white;
  // color: #164F9D;
  // color: #131f53;
  margin:0;
}
.presentation-list{
  // list-style-type: disc;
  padding: 10px;
}
.presentation-list > li{
padding: 10px 0px;

}


#root >main{
  padding: 20px  15px;
  display: grid;
  row-gap:20px;
  // color: yellow;
  // color: black;
}


#main >p{
  color:black;
 
}




#root >main >h1{
  font-size:30px;
  font-weight: bold;
  // padding-bottom:40px;
  text-align: center;
}
#root > main >p{
  font-weight: bold;
}
.map-container{
 
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 250px;
  // width: 100%;

  // border: 2px solid black;
  // border-radius: 10px;
  box-shadow: 4px 3px 5px black;
  @include media(tablet) {
    // border-radius:25px;
    height: 409px;
    width:500px;
  }
}
// .carte{
//  height: 250px
// }

