

.mentions-title{
    color: black;
}
.mentions-title.mentions-subtitle.p{
    padding:10px;
}

.mentions-details{

    padding:10px;
}

.mentions-subtitle{
    font-size:20px;
}

.copyright{
    list-style: none;
}

.liens-hyper >li{
    padding:7px 0px;
    margin-left:30px;
}

h4{
    font-weight: bold;
}

ul >li{
    margin-left:20px;
}

.mentions-details >a{
    color:#164F9D;
}

.mentions-details >a:visited{
    color:#164F9D;;
}