@mixin for-size($size) {
    @if $size == phone-only {
      @media screen and (max-width: 599px) {
        @content;
      }
    } @else if $size == tablet-portrait-up {
      @media screen and (max-width: 600px) {
        @content;
      }
    } @else if $size == tablet-landscape-up {
      @media screen and (min-width: 900px) {
        @content;
      }
    } @else if $size == desktop-up {
      @media screen and (min-width: 1200px) {
        @content;
      }
    } @else if $size == big-desktop-up {
      @media screen and (min-width: 1800px) {
        @content;
      }
    }
  }
  
  @mixin media($size) {
    @if $size == tablet {
      @media screen AND (min-width: 768px) {
        @content;
      }
    } @else if $size == desktop {
      @media screen AND (min-width: 1025px) {
        @content;
      }
    } @else if $size == laptop-desktop {
      @media screen AND (min-width: 1200px) {
        @content;
      }
    } @else if $size == large-desktop {
      @media screen AND (min-width: 1800px) {
        @content;
      }
    } @else if $size == desktop-model {
      @media screen AND (min-width: 1440px) {
        @content;
      }
    }
  }
  
  @mixin reset {
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: 100%;
      font-family: inherit;
      vertical-align: baseline;
    }
    /* remember to define focus styles! */
    :focus {
      outline: 0;
    }
    body {
      line-height: 1;
      color: black;
      background: white;
      // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ol,
    ul {
      // list-style: none;
    }
    /* tables still need 'cellspacing="0"' in the markup */
    table {
      border-collapse: separate;
      border-spacing: 0;
    }
    caption,
    th,
    td {
      text-align: left;
      font-weight: normal;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
      content: "";
    }
    blockquote,
    q {
      quotes: "" "";
    }
  }